* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.logo {
  text-align: center;
  padding: 30px 0;
}
.logo img {
  width: 200px;
}

.main-nav {
  padding: 15px;
}
.main-nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
}
.main-nav ul a {
  color: black;
  text-decoration: none;
  font-size: 22px;
  padding: 15px;
}
.main-nav ul .active a {
  background-color: #b2e5fc;
}

.sfondo_home {
  background-image: url("/images/fondo.jpg");
  background-position: center;
  padding: 50px 0;
}
.sfondo_home section {
  max-width: 1200px;
  margin: auto;
}
.sfondo_home section h2 {
  text-transform: uppercase;
  color: #002d73;
  padding-left: 10px;
}
.sfondo_home section .cards {
  display: flex;
  flex-wrap: wrap;
}
.sfondo_home section .cards .card {
  width: calc(100% / 3);
  padding: 10px;
}
.sfondo_home section .cards .card img {
  display: block;
  width: 100%;
}
@media screen and (max-width: 1000px) {
  .sfondo_home section .cards .card {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .sfondo_home section .cards .card {
    width: 100%;
  }
}

.sfondo_prodotto {
  background-color: #B8DAE4;
  position: relative;
}
.sfondo_prodotto .container h1 {
  color: #002d73;
  text-align: center;
  padding: 50px 0;
}
.sfondo_prodotto .container img {
  width: 100%;
}
.sfondo_prodotto .container p {
  color: #002d73;
  padding: 50px 10px;
  font-weight: 600;
}
.sfondo_prodotto .container .chevron a {
  position: absolute;
  top: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  transform: translateY(-50%);
}
.sfondo_prodotto .container .chevron a i {
  font-size: 50px;
  color: white;
  padding: 20px 10px;
}
@media screen and (max-width: 600px) {
  .sfondo_prodotto .container .chevron a {
    top: 40%;
  }
}
.sfondo_prodotto .container .chevron a:first-of-type {
  left: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.sfondo_prodotto .container .chevron a:last-of-type {
  right: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

footer {
  background-image: url("/images/footer.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
}
footer .container {
  display: flex;
  flex-wrap: wrap;
  padding: 100px 10px;
  color: #848d9b;
}
footer .container > div:first-of-type {
  width: 34%;
}
footer .container > div:first-of-type > div {
  width: 80%;
}
@media screen and (max-width: 1000px) {
  footer .container > div:first-of-type > div {
    width: 100%;
  }
}
@media screen and (max-width: 1000px) {
  footer .container > div:first-of-type {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  footer .container > div:first-of-type {
    width: 100%;
    margin-bottom: 50px;
  }
}
footer .container > div:last-of-type {
  display: flex;
  flex-wrap: wrap;
  width: 66%;
}
footer .container > div:last-of-type > div {
  width: 50%;
}
footer .container > div:last-of-type > div h3 {
  text-transform: uppercase;
}
footer .container > div:last-of-type > div ul {
  margin: 20px 0 30px;
}
@media screen and (max-width: 1000px) {
  footer .container > div:last-of-type > div {
    width: 100%;
  }
}
@media screen and (max-width: 1000px) {
  footer .container > div:last-of-type {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  footer .container > div:last-of-type {
    width: 100%;
  }
}
footer .container li {
  list-style: none;
}
@media screen and (max-width: 600px) {
  footer .container {
    text-align: center;
  }
}
