footer{
    background-image: url('/images/footer.jpg');
    background-repeat: no-repeat;
    background-position: bottom;

    .container{
        display: flex;
        flex-wrap: wrap;
        padding: 100px 10px;
        color: $text_color;

        > div:first-of-type{
            width: 34%;

            > div{
                width: 80%;

                @media screen and(max-width: 1000px){
                    width: 100%;
                }
            }

            @media screen and(max-width: 1000px){
                width: 50%;
            }

            @media screen and(max-width: 600px){
                width: 100%;
                margin-bottom: 50px;
            }
        }

        > div:last-of-type{
            display: flex;
            flex-wrap: wrap;
            width: 66%;

            > div{
                width: 50%;

                h3{
                    text-transform: uppercase;
                }

                ul{
                    margin: 20px 0 30px;
                }

                @media screen and(max-width: 1000px){
                    width: 100%;
                }
            }

            @media screen and(max-width: 1000px){
                width: 50%;
            }

            @media screen and(max-width: 600px){
                width: 100%;
            }
        }

        li{
            list-style: none;
        }

        // @media screen and(max-width: 1000px){
        //     width: 50%;
        // }

        @media screen and(max-width: 600px){
            text-align: center;
        }
    }
}